<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>


    <div class="modal-header">
        <h3 class="modal-title">Collection (Add)</h3>
    </div>


    <div class="modal-body">
        <div class="container-fluid">
            <div class="noty">
                <uib-alert ng-repeat="alert in ui.alert.items" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{ui.alert.timeout}}">{{alert.message}} </uib-alert>
            </div>
            <form class="form-horizontal" role="form">
                <fieldset ng-disabled="form.isDisabled">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="collection.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Desc</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="collection.Desc" required />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2">User</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <select class="form-control" allow-clear="true" ng-model="collection.User" ng-init="collection.User = authUser" ng-options="user as user.Name for user in users track by user.Id"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-click="collection.User = null">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Company</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="collection.Company" ng-init="collection.Company = authUser.Company" ng-options="company as company.Name for company in companies track by company.Id"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="add()">Add</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>

    <style type="text/css">
        form {
            margin: 20px;
        }
    </style>
</body>
</html>
