<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <div class="modal-header">
        <div class="row">
            <div class="col-md-4">
                <h3 class="modal-title">Drivers</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="selected" required />
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="clear()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <div class="modal-body">
            <table class="table table-responsive table-hover table-condensed">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>DtCreated</th>
                        <th>DriverId</th>
                        <th>Name</th>
                        <th>RFID</th>
                        <!--<th>Status</th>-->
                        <th>Company</th>
                        <th>Options</th>
                </thead>
                <tbody>
                    <tr ng-repeat="driver in drivers | filter : selected | startFromFilter : (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize2 | limitTo : ui.pagination.pageSize2">
                        <td>{{$index + 1 + (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize2 }}</td>
                        <td>{{driver.DtCreated | dateFilter : 'date'}}</td>
                        <td>{{driver.DriverId}}</td>
                        <td>{{driver.Name}}</td>
                        <td>{{driver.Rfid}}</td>
                        <!--<td>{{driver.Status | flagByValueFilter : flag.Statuses : 'name' }}</td>-->
                        <td>{{driver.Company | flagByIdFilter : companies : 'name' }}</td>
                        <td>
                            <button ng-click="select(driver)" ng-hide="authUser.Privilege > 4"><span class="glyphicon glyphicon-cog" /></button>
                            <button ng-click="delete(driver)" ng-hide="authUser.Privilege > 4"><span class="glyphicon glyphicon-trash" /></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <uib-pagination boundary-links="true"
                            force-ellipses="true"
                            total-items="drivers.length"
                            ng-model="ui.pagination.currentPage"
                            items-per-page="ui.pagination.pageSize2"
                            class="center-block">
            </uib-pagination>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="add()" ng-hide="authUser.Privilege > 4">Add</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
</body>
</html>
