<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>


    <div class="modal-header">
        <div class="row">
            <div class="col-md-4">
                <h3 class="modal-title">Sims</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="selected" required />
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="clear()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-body">
        <table class="table table-responsive table-hover table-condensed">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Imei</th>
                    <th>Number</th>
                    <th>Roaming</th>
                    <th>DtCreated</th>
                    <th>Vendor</th>
                    <th>Status</th>
                    <th>Options</th>
            </thead>
            <tbody>
                <tr ng-repeat="sim in sims | filter : selected | startFromFilter : (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize1 | limitTo : ui.pagination.pageSize1">
                    <td>{{$index + 1 + (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize1 }}</td>
                    <td>{{sim.Imei}}</td>
                    <td>{{sim.Number}}</td>
                    <td>{{sim.Roaming}}</td>
                    <td>{{sim.DtCreated | dateFilter : 'date'}}</td>
                    <td>{{sim.SimVendor| flagByIdFilter : flag.SimVendors : 'name'}}</td>
                    <td>{{sim.Status | flagByValueFilter : flag.Statuses : 'name' }}</td>
                    <td>
                        <button ng-click="select(sim)" ng-hide="authUser.Privilege > 3"><span class="glyphicon glyphicon-cog" /></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <uib-pagination boundary-links="true"
                        force-ellipses="true"
                        total-items="sims.length"
                        ng-model="ui.pagination.currentPage"
                        items-per-page="ui.pagination.pageSize1"
                        class="center-block">
        </uib-pagination>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</body>
</html>
