<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>


    <div class="modal-header">
        <div class="row">
            <div class="col-md-4">
                <h3 class="modal-title">Users</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" ng-model="selected" placeholder="Search" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="selected = ''">
                            <span class="glyphicon glyphicon-ban-circle" />
                        </button>
                        <button class="btn btn-default" type="button" ng-click="add()">
                            <span class="glyphicon glyphicon-plus" />
                        </button>
                        <button class="btn btn-default" type="button" ng-click="cancel()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-body">
        <table class="table table-responsive table-condensed table-hover small">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th class="hidden-xs">DtCreated</th>
                    <th class="hidden-xs">DtExpired</th>
                    <th>Privilege</th>
                    <th>Status</th>
                    <th class="hidden-xs">Company</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | filter  : selected | startFromFilter : (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize2 | limitTo : ui.pagination.pageSize2">
                    <td>{{$index + 1 + (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize2 }}</td>
                    <td>{{user.Name}}</td>
                    <td class="hidden-xs">{{user.DtCreated | dateFilter : 'date'}}</td>
                    <td class="hidden-xs">{{user.DtExpired | dateFilter : 'date'}}</td>
                    <td>{{user.Privilege.Name }}</td>
                    <td>{{user.Status.Name }}</td>
                    <td class="hidden-xs">{{user.Company.Name }}</td>
                    <td>
                        <button ng-click="select(user)"><span class="glyphicon glyphicon-cog" /></button>
                        <button ng-click="delete(user)"><span class="glyphicon glyphicon-trash" /></button>
                        <button ng-click="credential(user)"><span class="glyphicon glyphicon-asterisk" /></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <center>
            <uib-pagination boundary-links="true"
                            force-ellipses="true"
                            total-items="users.length"
                            ng-model="ui.pagination.currentPage"
                            items-per-page="ui.pagination.pageSize1"
                            style="padding:0;margin:0;">
            </uib-pagination>
        </center>
    </div>

</body>
</html>
