<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>


    <div class="modal-header">
        <h3 class="modal-title">Update</h3>
    </div>


    <div class="modal-body">
        <div class="container-fluid">
            <div class="noty">
                <uib-alert ng-repeat="alert in ui.alert.items" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{ui.alert.timeout}}">{{alert.message}} </uib-alert>
            </div>

            <form class="form-horizontal" role="form">
                <fieldset ng-disabled="form.isDisabled">
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Basic">
                            <div class="group">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="vehicle.Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Plate Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="vehicle.Plate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Model</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" ng-model="vehicle.Model" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">DateTime Subcribed</label>
                                    <div class="col-md-10">
                                        <p class="input-group">
                                            <input type="text" class="form-control"
                                                   uib-datepicker-popup="{{ui.dateTimePicker.format[1]}}"
                                                   ng-model="vehicle.DtSubscribed"
                                                   is-open="ui.dateTimePicker.isOpen[0]"
                                                   datepicker-options="ui.dateTimePicker.options"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   datetime-directive
                                                   disabled />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="ui.dateTimePicker.toggle(0)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Settings">
                            <div class="group">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Mileage (Initial)</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" ng-model="vehicle.MaInitial" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Mileage (Limit)</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" ng-model="vehicle.MaLimit" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Mileage (Maintenance)</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" ng-model="vehicle.MaMaintenance" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Speed (Max)</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" ng-model="vehicle.SpeedMax" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Fuel (Max)</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" ng-model="vehicle.FuelMax" />
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab index="2" heading="Selection">
                            <div class="group">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Type</label>
                                    <div class="col-md-10">
                                        <select class="form-control" ng-model="vehicle.TrackeeType" ng-options="trackeeType as trackeeType.Name for trackeeType in flag.TrackeeTypes track by trackeeType.Id" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Vehicle Status</label>
                                    <div class="col-md-10">
                                        <select class="form-control" ng-model="vehicle.Status" ng-options="status as status.Name for status in flag.Statuses track by status.Id" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Company</label>
                                    <div class="col-md-10">
                                        <select class="form-control" ng-model="vehicle.Company" ng-options="company as company.Name for company in companies track by company.Id" disabled required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Unit</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <select class="form-control" allow-clear="true" ng-model="vehicle.Unit" ng-options="unit as unit.Imei for unit in units track by unit.Id" disabled required />
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" ng-click="vehicle.Unit = null">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Driver</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <select class="form-control" allow-clear="true" ng-model="vehicle.Driver" ng-options="driver as driver.NameLast for driver in drivers track by driver.Id" required />
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" ng-click="vehicle.Driver = null">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </fieldset>
            </form>
        </div>
    </div>



    <div class="modal-footer">
   
        <button ng-show="form.isDisabled" class="btn btn-default" type="button" ng-click="toggle()">Edit</button>
        <button ng-show="!form.isDisabled" class="btn btn-default" type="button" ng-click="update()">Update</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>



    <style type="text/css">
        .group {
            margin: 20px;
        }
    </style>
</body>
</html>
