<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="page-content-wrapper" ng-controller="panelCenterController">

        <!--Navigation Bar-->
       <div panel-menu></div>
        <!--Navigation Bar-->

        <div panel-map></div>

        <!--<uib-tabset active="active">
            <uib-tab index="0" heading="Map">
                <div panel-map></div>
            </uib-tab>
            <uib-tab index="1" heading="Sample">
                Sample
            </uib-tab>
        </uib-tabset>-->
    </div>

    <style type="text/css">
        #page-content-wrapper {
            padding: 0 !important;
            margin: 0 !important;
            height: 100%;
            width: 100%;
        }

        .navbar-default {
            padding: 0 !important;
            margin: 0 !important;
            /*margin-bottom: 2 !important;*/
        }

        .navbar-nav {
            padding: 0 !important;
            margin: 0 !important;
            /*margin-bottom: 2 !important;*/
        }
    </style>
</body>

</html>
