<div ng-controller="sideMenuController">
	<nav id="nav-menu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
		
		
		<a class="navmenu-brand" ng-click="loadAppInfo()">{{app.Name}}</a>
		<ul>
			<h5>{{app.Desc}}</h5>
		</ul>

		<hr>		
		<ul class="nav navmenu-nav">
			<li class="dropdown" ng-repeat="item in sideMenu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.Label}}</a>
				<ul class="dropdown-menu navmenu-nav" role="menu" >
					<li ng-repeat="subItem in item.SubItem">
						<a ng-href="#" ng-click="load(subItem.Label)">{{subItem.Label}}</a>
					</li>
				</ul>
			</li> 
		</ul>
	</nav>
	<div class="navbar navbar-default navbar-fixed-bottom">
		<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#nav-menu" data-canvas="body">
			<span class="glyphicon glyphicon-flash"></span>
		</button>
	</div>
</div>