<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="modal-header">
                <div class="col-md-6">
                    <h3 class="modal-title">Map Tools</h3>
                    <h5 class="modal-title">Gaia Watcher</h5>
                </div>
   
                <div class="col-md-6">
                    <h3 class="modal-title text-right">{{authCompany.name }}</h3>
                    <h5 class="modal-title text-right">{{authCompany.desc }}</h5>
                </div>
            </div>

            <div class="modal-body">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Areas" ng-click="showAreas()" ng-hide="authUser.privilege.value > 2"></uib-tab>
                    <uib-tab index="1" heading="Pois" ng-click="showPois()"></uib-tab>
                    <uib-tab index="2" heading="Geofences" ng-click="showGeofences()"></uib-tab>
                    <uib-tab index="3" heading="Routes" ng-click="showRoutes()"></uib-tab>
                </uib-tabset>
                <ng-include src="path"></ng-include>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>
