<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>


    <div class="modal-header">
        <h3 class="modal-title">Unit</h3>
    </div>


    <div class="modal-body">
        <div class="container-fluid">
            <div class="noty">
                <uib-alert ng-repeat="alert in alert.items" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.message}} </uib-alert>
            </div>

            <uib-tabset active="active">
                <uib-tab index="0" heading="Unit">
                    <form class="form-horizontal" role="form">
                        <fieldset ng-disabled="form.isDisabled">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Imei</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="Unit.Imei" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Serial Number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="Unit.SerialNumber" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">DateTime Created</label>
                                <div class="col-md-10">
                                    <p class="input-group">
                                        <input type="text" class="form-control"
                                               uib-datepicker-popup="{{dateTimePicker.format[1]}}"
                                               ng-model="User.DtCreated"
                                               is-open="dateTimePicker.isOpen[0]"
                                               datepicker-options="dateTimePicker.options"
                                               ng-required="true"
                                               close-text="Close"
                                               datetime-directive
                                               disabled />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="dateTimePicker.toggle(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Unit Type</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="Unit.UnitType"  ng-options="unit.Id as unit.Name for unit in Flag.UnitType" required />
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <label class="control-label col-md-2">Company</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="Unit.Company" ng-options="company.Id as company.Name for company in Flag.Company" required />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </uib-tab>
               
                <uib-tab index="2" heading="UnitSim">
                    <form class="form-horizontal" role="form">
                        <fieldset ng-disabled="form.isDisabled">
                            <div class="form-group">
                                <label class="control-label col-md-2">Country</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="UserSim.AreaCode" ng-init="UserSim.AreaCode = Flag.Nation[178].Id" ng-options="nation.Id as nation.NameShort for nation in Flag.Nation" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Code</label>
                                <div class="col-md-10">
                                    <label class="control-label">{{UserSim.AreaCode | nationFilter : 'dialCode' }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Number</label>
                                <div class="col-md-10">
                                    <input type="number" class="form-control" ng-model="UserSim.Number" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Imei</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" ng-model="UserSim.Imei" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Roaming</label>
                                <div class="col-md-10">
                                    <input type="checkbox" class="form-control" ng-model="UserSim.Roaming" ng-true-value="true" ng-false-value="false" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Vendor</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="UserSim.SimVendor" ng-options="simVendor.Id as simVendor.Name for simVendor in Flag.SimVendor" required />
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </uib-tab>
            </uib-tabset>
        </div>
    </div>


    <div class="modal-footer">
        <button ng-show="form.isDisabled" class="btn btn-default" type="button" ng-click="form.toggle()">Edit</button>
        <button ng-show="!form.isDisabled" class="btn btn-default" type="button" ng-click="form.update()">Update</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>



    <style type="text/css">
        form {
            margin: 20px;
        }
    </style>
</body>
</html>
