<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <div ng-controller="vehiclesController">
        <div class="container-fluid">
            <div class="row">
                <div class="modal-header">
                    <div class="col-md-4">
                        <h3 class="modal-title">Vehicles ({{vehicles.length}})</h3>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" ng-model="selected" placeholder="Search" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-click="selected = ''">
                                    <span class="glyphicon glyphicon-ban-circle" />
                                </button>
                                <button class="btn btn-default" type="button" ng-click="add()">
                                    <span class="glyphicon glyphicon-plus" />
                                </button>
                                <button class="btn btn-default" type="button" ng-click="download()">
                                    <span class="glyphicon glyphicon-download" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-body">
                    <div class="scrollable">

                        <table class="table table-responsive table-condensed table-hover small" id="vehicles">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>name</th>
                                    <th>Plate</th>
                                    <th>dtCreated</th>
                                    <th>dtExpired</th>
                                    <th>status</th>
                                    <th>driver</th>
                                    <th>unit</th>
                                    <th>sim</th>
                                    <th>type</th>
                                    <th>options</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vehicle in vehicles | filter : selected | startFromFilter : (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize | limitTo : ui.pagination.pageSize">
                                    <td>{{$index + 1 + (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize }}</td>
                                    <td>{{vehicle.name}}</td>
                                    <td>{{vehicle.plate}}</td>

                                    <td>{{vehicle.dtCreated | dateFilter : 'date'}}</td>
                                    <td>{{vehicle.dtExpired | dateFilter : 'date'}}</td>
                                    <td>{{vehicle.status.name}}</td>
                                    <td>{{vehicle.driver.name}}</td>
                                    <td>{{vehicle.unit.imei}}</td>
                                    <td>{{vehicle.unit.sim.number}}</td>
                                    <td>{{vehicle.type.name}}</td>
                                    <td>
                                        <button ng-click="select(vehicle)"><span class="glyphicon glyphicon-cog" /></button>
                                        <button ng-click="delete(vehicle)" ng-hide="auth.getUser().privilege.value > 3"><span class="glyphicon glyphicon-trash" /></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="text-center">
                        <ul uib-pagination
                            boundary-links="true"
                            force-ellipses="true"
                            total-items="vehicles.length"
                            ng-model="ui.pagination.currentPage"
                            max-size="ui.pagination.maxSize"
                            items-per-page="ui.pagination.pageSize"
                            class="pagination-sm"
                            style="padding:0px;margin:0px;"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
