<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="bottom-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div id="bottom-area">
                    <table class="table table-condensed table-responsive">
                        <thead>
                            <tr>
                                <td>#</td>
                                <th>name</th>
                                <th>dtServer</th>
                                <th>dtClient</th>
                                <th>satellite</th>
                                <th>signal</th>
                                <th>speed</th>
                                <th>odo</th>
                                <th>acc</th>
                                <th>sos</th>
                                <th>epc</th>
                                <th>batt</th>
                                <th>vcc</th>
                                <th>relay</th>
                                <th>geofence</th>
                                <th>area</th>
                                <th>address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="vehicle in fleet.vehicles | filter : selected " ng-show="vehicle.tracked == true" ng-class="vehicle.selected ? 'info' : ''" ng-click="onClick(vehicle)" ng-dblclick="onDoubleClick(vehicle)">
                                <td>{{vehicle.id}}</td>
                                <td>{{vehicle.name | limitTo : 20}}</td>
                                <td>{{vehicle.unit.unitData.header.dtServer | dateFilter }}</td>
                                <td>{{vehicle.unit.unitData.header.dtClient | dateFilter }}</td>

                                <td>{{vehicle.unit.unitData.gps.satellite}}</td>

                                <td>{{vehicle.unit.unitData.gprs.signal}}</td>
                                <td>{{vehicle.unit.unitData.io.speed}}</td>
                                <td>{{((vehicle.unit.unitData.io.odo / 1000) + (vehicle.maInitial)) | number : 2}}</td>
                                <td>{{vehicle.unit.unitData.io.acc}}</td>
                                <td>{{vehicle.unit.unitData.io.sos}}</td>
                                <td>{{vehicle.unit.unitData.io.epc}}</td>
                                <td>{{vehicle.unit.unitData.io.batt / 1000 | number : 2}}</td>
                                <td>{{vehicle.unit.unitData.io.vcc / 1000 | number : 2}}</td>

                                <td>{{vehicle.unit.unitData.io.relay4}}{{vehicle.unit.unitData.io.relay3}}{{vehicle.unit.unitData.io.relay2}}{{vehicle.unit.unitData.io.relay1}}</td>
                                <td>{{vehicle.unit.unitData.geofence.name}}</td>
                                <td>{{vehicle.unit.unitData.area.name}}</td>
                                <td>{{vehicle.address | limitTo: 35}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #bottom-area {
            height: 350px;
            overflow: auto;
        }
    </style>
</body>
</html>
