<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" style="margin-bottom: 0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="ui.panelLeft = !ui.panelLeft; ui.panelLeft ? ui.panelCollapse = true: '';">
                    <span class="glyphicon glyphicon-send"></span> {{system.app.name}}
                </a>
                <button type="button"
                        class="navbar-toggle"
                        aria-expanded="true"
                        ng-click="ui.panelCollapse = !ui.panelCollapse; !ui.panelCollapse ? ui.panelLeft = false: '';">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="ui.panelCollapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item" ng-hide="auth.getUser().privilege.value > 2">
                        <a ng-click="showSystem()">
                            <span class="glyphicon glyphicon-equalizer"></span> System
                        </a>
                    </li>
                    <li class="nav-item" ng-hide="auth.getUser().privilege.value > 4">
                        <a ng-click="showPreferences()">
                            <span class="glyphicon glyphicon-tree-deciduous"></span> Preferences
                        </a>
                    </li>
                    <li class="nav-item" ng-hide="auth.getUser().privilege.value > 4">
                        <a ng-click="showMapTools()">
                            <span class="glyphicon glyphicon-globe"></span> MapTools
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-question-sign"></span> Help
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="showAbouts()">
                                    <span class="glyphicon glyphicon-asterisk"></span> Abouts
                                </a>
                            </li>
                            <li>
                                <a ng-click="showIcons()">
                                    <span class="glyphicon glyphicon-picture"></span> Icon
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!--company-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <span class="glyphicon glyphicon-flash"></span> {{auth.getCompany().name}}
                        </a>
                    </li>
                    <!--User-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <span class="glyphicon glyphicon-user"></span> {{auth.getUser().name}}
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="logout()">
                                    <span class="glyphicon glyphicon-log-in"></span> Logout
                                </a>
                            </li>
                        </ul>
                    </li>


                    <!--<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <span class="glyphicon glyphicon-envelope"></span> Notification
                            <span class="badge">{{flag.appNotes.length}}</span>
                        </a>


                        <ul class="dropdown-menu">
                            <li ng-repeat="appNote in flag.appNotes" class="width300">
                                <a ng-click="openNote(appNote)">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            {{appNote.dtCreated | dateFilter : 'date'}}
                                        </div>
                                        <div class="col-lg-6">
                                            {{appNote.name | limitTo : 15}}. . .
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>-->

                </ul>
            </div>
        </div>
    </nav>
    <style type="text/css">
        .width300 {
            width: 300px;
        }
    </style>

</body>
</html>
