<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <!-- Sidebar -->
    <div id="left-side-wrapper">
        <div class="fill">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                </div>
                                <select class="form-control" ng-model="selectedProperty">
                                    <option>Name</option>
                                    <option>Plate</option>
                                    <option>UnitImei</option>
                                    <option>SimNumber</option>
                                    <option>DriverName</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </div>
                                <input type="text" class="form-control" ng-model="selected" placeholder="Search" />
                                <div class="input-group-addon" ng-click="ui.panelBottom = !ui.panelBottom">
                                    <span class="glyphicon glyphicon glyphicon-th-list"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="button" class="form-control" value="Vehicles" />
                            <span class="input-group-addon">
                                <span>{{auth.getUser().privilege.value < 5 ? fleet.vehicles.length : '?'}}</span>
                            </span>
                            <input type="button" class="form-control" value="Collections" />
                            <span class="input-group-addon">
                                <span>{{auth.getUser().privilege.value < 5 ? fleet.collections.length: '?'}}</span>
                            </span>
                        </div>
                        <hr />
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <uib-accordion close-others="true">
                                <div uib-accordion-group ng-repeat="collection in fleet.collections" is-open="collection.isOpen" ng-hide="hide(collection)">
                                    <uib-accordion-heading>
                                        {{ collection.name  | limitTo : 15 }}
                                        <span class="pull-right">&nbsp</span>
                                        <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': collection.isOpen, 'glyphicon-chevron-right': !collection.isOpen}"></span>
                                        <span class="pull-right">&nbsp</span>
                                        <span class="pull-right badge"> {{ collection.vehiclesIds.length }} </span>
                                    </uib-accordion-heading>

                                    <div class="row">
                                        <div class="col-xs-7">
                                            <strong>ALL</strong>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="btn-group pull-right">
                                                <button class="btn btn-default btn-xs" ng-click="checkBox.tracked = !checkBox.tracked ; checkByCollection(collection)">
                                                    <span ng-class="checkBox.tracked ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-unchecked'"></span>
                                                </button>
                                                <button class="btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-align-justify"></span>
                                                </button>
                                                <button class="btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-align-justify"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-repeat="vehicle in fleet.getVehiclesByCollection(collection) | filter : selected track by vehicle.id">
                                        <div class="row">

                                            <div class="col-xs-7">
                                                <strike ng-show="valid.isExpired(vehicle.unit.dtExpired)">
                                                    <strong>
                                                        {{getProperty(vehicle)| limitTo : 15}}
                                                    </strong>
                                                </strike>
                                                <div ng-show="!valid.isExpired(vehicle.unit.dtExpired)">
                                                    {{getProperty(vehicle)| limitTo : 15}}
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="btn-group pull-right" ng-disabled="valid.isExpired(vehicle.unit.dtExpired)">
                                                    <button class="btn btn-default btn-xs" ng-click="vehicle.tracked = !vehicle.tracked"
                                                            ng-disabled="valid.isExpired(vehicle.unit.dtExpired)">
                                                        <span ng-class="vehicle.tracked ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-unchecked'"></span>
                                                    </button>
                                                    <button class="btn btn-default btn-xs" ng-click="setFocus(vehicle)"
                                                            ng-disabled="valid.isExpired(vehicle.unit.dtExpired)">
                                                        <span class="glyphicon glyphicon-screenshot"></span>
                                                    </button>
                                                    <button class="btn btn-default btn-xs" ng-click="showReports(vehicle)"
                                                            ng-disabled="valid.isExpired(vehicle.unit.dtExpired)">
                                                        <span class="glyphicon glyphicon-stats"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-accordion>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
    <style type="text/css">
        .fill {
            height: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            overflow-y: auto;
        }
    </style>
</body>
</html>
