<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" ng-click="setToggle()" href="">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown" ng-show="ui.panelAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    System
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="showCompanies()">
                            <span class="glyphicon glyphicon-tree-deciduous"></span>
                            Companies
                        </a>
                    </li>
                    <li>
                        <a ng-click="showUnits()" href="">
                            <span class="glyphicon glyphicon-send"></span>
                            Units
                        </a>
                    </li>
                    <li>
                        <a ng-click="showUsers()" href="">
                            <span class="glyphicon glyphicon-user"></span>
                            Users
                        </a>
                    </li>
                    <li>
                        <a ng-click="showSims()" href="">
                            <span class="glyphicon glyphicon-signal"></span>
                            Sims
                        </a>
                    </li>
                    <li>
                        <a ng-click="showDrivers()" href="">
                            <span class="glyphicon glyphicon-sunglasses"></span>
                            Drivers
                        </a>
                    </li>
                    <li>
                        <a ng-click="showVehicles()" href="">
                            <span class="glyphicon glyphicon-off"></span>
                            Vehicles
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" ng-show="!ui.panelAdmin">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    Administrate
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="showClientCompany()">
                            <span class="glyphicon glyphicon-tree-deciduous"></span>
                            Company
                        </a>
                    </li>
                    <li>
                        <a ng-click="showClientUsers()" href="">
                            <span class="glyphicon glyphicon-user"></span>
                            Users
                        </a>
                    </li>
                    <li>
                        <a ng-click="showClientUnits()" href="">
                            <span class="glyphicon glyphicon-send"></span>
                            Units
                        </a>
                    </li>
                    <li>
                        <a ng-click="showClientSims()" href="">
                            <span class="glyphicon glyphicon-signal"></span>
                            Sims
                        </a>
                    </li>
                    <li>
                        <a ng-click="showClientDrivers()" href="">
                            <span class="glyphicon glyphicon-sunglasses"></span>
                            Drivers
                        </a>
                    </li>
                    <li>
                        <a ng-click="showClientVehicles()" href="">
                            <span class="glyphicon glyphicon-off"></span>
                            Vehicles
                        </a>
                    </li>
                    <li>
                        <a ng-click="showClientCollections()" href="">
                            <span class="glyphicon glyphicon-list"></span>
                            Collections
                        </a>
                    </li>
                    <li>
                        <a ng-click="showClientDistribute()" href="">
                            <span class="glyphicon glyphicon glyphicon-link"></span>
                            Distribute
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    Map
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Geofence</a></li>
                    <li><a href="#">Poi</a></li>
                    <li><a href="#">Route</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-click="refresh()">
                    <span class="glyphicon glyphicon-user"></span> {{authUser.Name}}
                </a>
                <ul class="dropdown-menu">
                    <li class="user">
                        <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th colspan="2">User Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Privilege</td>
                                    <td>{{authUser.Privilege | flagByValueFilter : flag.Privileges : 'name'}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{authUser.Status | flagByValueFilter : flag.Statuses : 'name'}}</td>
                                </tr>
                                <tr>
                                    <td>DtCreated</td>
                                    <td>{{ authUser.DtCreated | dateFilter  : 'date'}}</td>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td>{{ authCompany.Name }}</td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr ng-show="session.isUserSuper()">
                                    <td colspan="2">
                                        <button class="btn btn-primary form-control" ng-show="!ui.panelAdmin" ng-click="switchToAdmin()">Switch to Admin Panel</button>
                                        <button class="btn btn-primary form-control" ng-show="ui.panelAdmin" ng-click="switchToUser()">Switch to User Panel</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button  class="btn btn-primary form-control" ng-click="logout()">Logout</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </li>
                </ul>
        </ul>
    </nav>

    <style>
        .user {
            padding: 0px !important;
            margin: 0px !important;
        }
    </style>
</body>
</html>
