<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <center>
                        <div class="label">
                            <h4>ATS Gps Tracking</h4>
                        </div>

                        <img src="../../../img/ats.png"
                             width="100"
                             height="90" />
                    </center>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span></button>
                        </div>
                        <select class="form-control" ng-init="selectedProperty = 'Name'" ng-model="selectedProperty">
                            <option>Name</option>
                            <option>Plate</option>
                            <option>Imei</option>
                            <option>Sim</option>
                            <option>Driver</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                        <input type="text" class="form-control" ng-model="selectedVechicle" />
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-12">
                    <uib-accordion close-others="true">
                        <uib-accordion-group>
                            <uib-accordion-heading>
                                All
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                            </uib-accordion-heading>
                            <table class="table table-responsive not-bordered">
                                <tbody>
                                    <tr ng-repeat="vehicle in vehicles | filter : selectedVechicle">
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>
                                            <div ng-show="selectedProperty == 'Plate'">{{vehicle.Plate}}</div>
                                            <div ng-show="selectedProperty == 'Name'">{{vehicle.Name}}</div>
                                            <div ng-show="selectedProperty == 'Imei'">{{vehicle.Unit.Imei}}</div>
                                            <div ng-show="selectedProperty == 'Sim'">{{vehicle.Unit.Sim.Number}}</div>
                                            <div ng-show="selectedProperty == 'Driver'">{{vehicle.Driver.Name}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-accordion-group>
                        <uib-accordion-group ng-repeat="collection in collections">
                            <uib-accordion-heading>
                                {{collection.Name}}
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                            </uib-accordion-heading>
                            <table class="table table-responsive not-bordered">
                                <tbody>
                                    <tr ng-repeat="vehicle in collection.items | filter : selectedVechicle">
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>
                                            <div ng-show="selectedProperty == 'Plate'">{{vehicle.Plate}}</div>
                                            <div ng-show="selectedProperty == 'Name'">{{vehicle.Name}}</div>
                                            <div ng-show="selectedProperty == 'Imei'">{{vehicle.Unit.Imei}}</div>
                                            <div ng-show="selectedProperty == 'Sim'">{{vehicle.Unit.Sim.Number}}</div>
                                            <div ng-show="selectedProperty == 'Driver'">{{vehicle.Driver.Name}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 ">

                </div>
            </div>
        </div>
    </div>

    <!-- /#sidebar-wrapper -->
    <style>
        .not-bordered td, .not-bordered th, .not-bordered tr {
            border: none !important;
            padding: 2px !important;
            margin: 2px !important;
        }

        .row {
            padding: 1px;
            margin: 1px;
        }
    </style>
</body>
</html>
