<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>


    <div class="modal-header">
        <h3 class="modal-title">Company (Add)</h3>
    </div>


    <div class="modal-body">
        <div class="container-fluid">
            <div class="noty">
                <uib-alert ng-repeat="alert in ui.alert.items" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="{{ui.alert.timeout}}">{{alert.message}} </uib-alert>
            </div>

            <uib-tabset active="active">
                <uib-tab index="0" heading="Company">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="company.Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Description</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" ng-model="company.Desc" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Status</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="company.Status" ng-init="company.Status = flag.Statuses[0].Value" ng-options="status.Value as status.Name for status in flag.Statuses" required />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </uib-tab>
                <uib-tab index="1" heading="CompanyInfo">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label col-md-2">Logo</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" ng-model="companyInfo.Logo" required disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Alert</label>
                                <div class="col-md-10">
                                    <input type="number" class="form-control" ng-model="companyInfo.Alert" required disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Notify</label>
                                <div class="col-md-10">
                                    <input type="number" class="form-control" ng-model="companyInfo.Notify" required disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Theme</label>
                                <div class="col-md-10">
                                    <input type="number" class="form-control" ng-model="companyInfo.Theme" required disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Field</label>
                                <div class="col-md-10">
                                    <select class="form-control" ng-model="companyInfo.Field" ng-init="companyInfo.Field = flag.Fields[0].Id" ng-options="field.Id as field.Name for field in flag.Fields" required />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="add()">Add</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>

    <style type="text/css">
        form {
            margin: 20px;
        }
    </style>
</body>
</html>
