<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>


    <div class="modal-header">
         <div class="row">
            <div class="col-md-4">
                <h3 class="modal-title">Companies</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group" ng-show="authUser.Privilege < 4">
                    <input type="text" class="form-control" ng-model="selectedCompany" required />
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="clearCompany()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-body">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>DtCreated</th>
                    <th>Status</th>
                    <th>Options</th>
            </thead>
            <tbody>
                <tr ng-repeat="company in flag.Companies | filter : selectedCompany | startFromFilter : (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize | limitTo : ui.pagination.pageSize">
                    <td>{{$index + 1 + (ui.pagination.currentPage - 1 ) * ui.pagination.pageSize }}</td>
                    <td>{{company.Name}}</td>
                    <td>{{company.Desc}}</td>
                    <td>{{company.DtCreated | dateFilter : 'date'}}</td>
                    <td>{{company.Status | statusFilter : 'name' }}</td>
                    <td>
                        <button ng-click="select(company)"><span class="glyphicon glyphicon-cog" /></button>
                        <button ng-click="delete(company)"><span class="glyphicon glyphicon-trash" /></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <uib-pagination boundary-links="true"
                        force-ellipses="true"
                        total-items="flag.Companies.length"
                        ng-model="ui.pagination.currentPage"
                        items-per-page="ui.pagination.pageSize"
                        class="center-block">
        </uib-pagination>
    </div>


    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="add()">Add</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</body>
</html>
