<!-- <div ng-controller="loginController">
	<form name="user">
		<table>
			<tr><td colspan="2"><data-alert content="content"></data-alert></td></tr>
			<tr><td>Username</td><td><input type="text" ng-model="Name" required></input></td></tr>
			<tr><td>Password</td><td><input type="password" ng-model="Password" required></input></td></tr>
			<tr><td>Remember Me </td><td><input type="checkbox" ng-model="IsRemembered"></input></td></tr>
			<tr><td colspan="2"><button ng-click="check()">Login</button></td></tr>
		</table>
	</form>
</div> -->