<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

        <div class="content">
            <div class="login-form">
                <h2>Login</h2>
                <form action="">
                    <fieldset>
                        <div class="clearfix">
                            <input type="text" placeholder="Username">
                        </div>
                        <div class="clearfix">
                            <input type="password" placeholder="Password">
                        </div>
                        <button class="btn primary" type="submit">Sign in</button>
                    </fieldset>
                </form>
            </div>
        </div>


    <style type="text/css">
        /* Override some defaults */
        html, body {
            background-color: #eee;
            position: absolute;
            height : 100%;
            width : 100%;
        }

        .content {
            width: 300px;
            height: 400px;
            margin: auto;
        }

   
   
    </style>
</body>
</html>
