<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>


    <div class="modal-header">
        <div class="row">
            <div class="col-md-4">
                <h3 class="modal-title">Minimap</h3>
            </div>
            <div class="col-md-4">

                <!--<div class="input-group input-group-sm">
                    <div class="input-group-addon">
                        <span>Latitude</span>
                    </div>
                    <input type="text" class="form-control" ng-model="coordinate.Latitude" placeholder="Latitude" disabled/>

                </div>-->
            </div>
            <div class="col-md-4">
                <!--<div class="input-group input-group-sm">
                    <div class="input-group-addon">
                        <span>Longitude</span>
                    </div>
                    <input type="text" class="form-control" ng-model="coordinate.Longitude" placeholder="Longitude" disabled/>

                </div>-->
            </div>
        </div>
    </div>


    <div class="modal-body">

            <div id="minimap"></div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
    </div>

    <style type="text/css">
        #minimap {
            min-height: 400px;
            width: 100%;
            background-color: gray;
            position:center;
        }

        .modal-body {
            /*padding: 0 !important;
            margin: 0 !important;*/
            min-height: 400px;
        }

        /*.minimap_container {
            height: 100%;
            width: 100%;
            max-width: 100%;
        }*/
    </style>
</body>
</html>
